<div 
  class="Post">

  <div class="userProfile" >
    <h3>{{post?.user?.name}}</h3>
    <span>member since: </span>{{post?.user?.creationDate | date:'short'}}
  </div>
  
  <div class="postContent">
    
    <div class="postText">
      <h4>{{post.title}}</h4>
      <p>{{post.content}}</p>
      <br>
      <div class="date">
        <span>thread created on: </span> {{post.postDate | date:'short'}}
      </div>
    </div>

    <hr>
   
    <div
    class="comment"
    *ngFor="let c of post.comments">
      <h5>{{c.user.name}}:</h5>
      <p>{{c.content}}</p>
      <div class="date">
        <span>comment created on: </span>{{c.postDate | date:'short'}}
      </div>
      <button (click)="deleteComment(c.commentId)">Delete this comment</button>
    </div>
    <app-add-comment (commentPosted)='commentPosted()' [postinfo]=post></app-add-comment>
    <button (click)="goBack()">tilbage</button>
  </div>
</div>